@tailwind base;
@tailwind components;
@tailwind utilities;


// TRANSITIONS

.list-enter-active, .list-leave-active {
  transition: all .3s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-300px);
}