@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-app: #fafafa;

*{
  letter-spacing: .5px;
}

button:focus {
  outline: none;
}

// TRANSITIONS

.list-enter-active, .list-leave-active {
  transition: all .3s;
  overflow: hidden;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-300px);
  overflow: hidden;
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: all .2s;
}
.slide-down-enter, .slide-down-leave-to {
  opacity: 0;
  transform: translateY(-25px);
}